{% extends "base.html" %}
{% block content %}
<!-- first text berita -->
<div class="card border-info border rounded-0 shadow" style="border-style: solid;margin-bottom: 10px;">
    <div class="card-body" style="padding: 0;">
        <div style="margin-bottom: -10px;">
        </div>
        <div style="padding-left: 20px;padding-bottom: 20px;padding-right: 20px;padding-top: 5px;margin: 10px;">
            <h4>Pengertian Komputer</h4>
            <p style="text-align: justify;">Komputer adalah alat yang dipakai untuk mengolah data menurut prosedur yang telah dirumuskan. 
                komputer adalah suatu perangkat keras yang sangat berkaitan dengan teknologi. komputer mampu 
                membantu berbagai pekerjaan manusia. Kata komputer pada awalnya dipergunakan untuk menggambarkan 
                orang yang perkerjaannya melakukan perhitungan aritmetika, dengan atau tanpa alat bantu, tetapi
                arti kata ini kemudian dipindahkan kepada mesin itu sendiri. Asal mulanya, pengolahan informasi 
                hampir eksklusif berhubungan dengan masalah aritmetika, tetapi komputer modern dipakai untuk
                banyak tugas yang tidak berhubungan dengan matematika.</p>
            <p>Pada umumnya komputer terdiri dari 3 elemen utama, antara lain:</p>
            <ol>
                <li>Perangkat Keras (Hardware) yang terdiri dari Processor, RAM, Harddisk, Motherboard, dan CPU.</li>
                <li>Perangkat Lunak (Software) yaitu sistem operasi dan juga berbagai aplikasi yang dimasukkan ke dalam hardware dan bekerja sesuai perintah dari pengguna.</li>
                <li>Pengguna Komputer (Brainware) yaitu pemakai atau operator komputer.</li>
            </ol>
            <p style="text-align: justify;">Secara etimologis, kata “Komputer” berasal dari bahasa Latin, yaitu “Computare” yang artinya menghitung. Sehingga secara sederhana pengertian komputer adalah alat untuk menghitung aritmatika.</p>
        </div>
    </div>
</div>

<!-- Second text berita -->
<div class="card border-info border rounded-0 shadow" style="border-style: solid;margin-bottom: 10px;">
    <div class="card-body" style="padding: 0;">
        <div style="margin-bottom: -10px;">
        </div>
        <div style="padding-left: 20px;padding-bottom: 20px;padding-right: 20px;padding-top: 5px;margin: 10px;">
            <h4>Database</h4>
            <p style="text-align: justify;"> Database adalah sekumpulan data yang dikelola berdasarkan ketentuan 
                tertentu yang saling berkaitan sehingga memudahkan dalam pengelolaannya. Dihimpun 
                dari berbagai sumber, secara sederhana, database atau basis data merupakan 
                sekumpulan data atau informasi yang tersimpan secara sistematis. Database memiliki
                 peran penting dalam perangkat untuk mengumpulkan informasi, data, atau file secara terintegrasi.</p>
            <h5>Jenis Database</h5>
            <ol>
                <li>Operational Database</li>
            </ol>
            <p style="text-align: justify;">Operational database juga dikenal dengan nama On Line Transaction Processing.
                Database jenis ini berfungsi sebagai wadah mengelola data dinamis secara real
                time atau langsung
            </p>

            <ol>
                <li>Database Warehouse</li>
            </ol>
            <p style="text-align: justify;">Database jenis ini sering digunakan untuk melakukan anasilis
                dan pelaporan data. Database warehouse dianggap sebagai komponen inti business intelligence.
            </p>

            <ol>
                <li>Distributed Database</li>
            </ol>
            <p style="text-align: justify;">Distributed database berbeda dnegan sistem paralel yang terhubung erat
                dan memiliki sistem pada data tunggal. Basis data yang satu ini tidak terpasang
                pada perangkat komputer atau sejenisnya yang serupa
            </p>

            <ol>
                <li>Relational Database</li>
            </ol>
            <p style="text-align: justify;">Relational database mengorganisir data berdasarkan model
                hubungan data.
            </p>

            <ol>
                <li>End-User Database</li>
            </ol>
            <p style="text-align: justify;">Basis data yang satu ini dikembangkan oleh end-user melalui 
                workstation mereka.
            </p>
     </div>
    </div>
</div>


<div class="card border-info border rounded-0 shadow" style="border-style: solid;margin-bottom: 10px;">
    <div class="card-body" style="padding: 0;">
        <div style="margin-bottom: -10px;">
        </div>
        <div style="padding-left: 20px;padding-bottom: 20px;padding-right: 20px;padding-top: 5px;margin: 10px;">
            <h4>Bahasa Pemrograman</h4>
            <p style="text-align: justify;">Komputer adalah alat yang dipakai untuk mengolah data menurut prosedur yang telah dirumuskan. 
                komputer adalah suatu perangkat keras yang sangat berkaitan dengan teknologi. komputer mampu 
                membantu berbagai pekerjaan manusia. Kata komputer pada awalnya dipergunakan untuk menggambarkan 
                orang yang perkerjaannya melakukan perhitungan aritmetika, dengan atau tanpa alat bantu, tetapi
                arti kata ini kemudian dipindahkan kepada mesin itu sendiri. Asal mulanya, pengolahan informasi 
                hampir eksklusif berhubungan dengan masalah aritmetika, tetapi komputer modern dipakai untuk
                banyak tugas yang tidak berhubungan dengan matematika.</p>
            <h5>12 Bahasa pemrograman yang paling relevan untuk dipelajari 2022</h5>
            <ol>
                <li>Java</li>
                <li>Python</li>
                <li>Visual Basic</li>
                <li>C</li>
                <li>PHP</li>
                <li>Ruby</li>
                <li>Rust</li>
                <li>Go</li>
                <li>Kotlin</li>
                <li>TypeScript</li>
            </ol>
            <p style="text-align: justify;">Secara etimologis, kata “Komputer” berasal dari bahasa Latin, yaitu “Computare” yang artinya menghitung. Sehingga secara sederhana pengertian komputer adalah alat untuk menghitung aritmatika.</p>
        </div>
    </div>
</div>

<div class="card border-info border rounded-0 shadow" style="border-style: solid;margin-bottom: 10px;">
    <div class="card-body" style="padding: 0;">
        <div style="margin-bottom: -10px;">
        </div>
        <div style="padding-left: 20px;padding-bottom: 20px;padding-right: 20px;padding-top: 5px;margin: 10px;">
            <h4>Bahasa Pemrograman</h4>
            <p style="text-align: justify;">Komputer adalah alat yang dipakai untuk mengolah data menurut prosedur yang telah dirumuskan. 
                komputer adalah suatu perangkat keras yang sangat berkaitan dengan teknologi. komputer mampu 
                membantu berbagai pekerjaan manusia. Kata komputer pada awalnya dipergunakan untuk menggambarkan 
                orang yang perkerjaannya melakukan perhitungan aritmetika, dengan atau tanpa alat bantu, tetapi
                arti kata ini kemudian dipindahkan kepada mesin itu sendiri. Asal mulanya, pengolahan informasi 
                hampir eksklusif berhubungan dengan masalah aritmetika, tetapi komputer modern dipakai untuk
                banyak tugas yang tidak berhubungan dengan matematika.</p>
            <h5>12 Bahasa pemrograman yang paling relevan untuk dipelajari 2022</h5>
            <ol>
                <li>Java</li>
                <li>Python</li>
                <li>Visual Basic</li>
                <li>C</li>
                <li>PHP</li>
                <li>Ruby</li>
                <li>Rust</li>
                <li>Go</li>
                <li>Kotlin</li>
                <li>TypeScript</li>
            </ol>
            <p style="text-align: justify;">Secara etimologis, kata “Komputer” berasal dari bahasa Latin, yaitu “Computare” yang artinya menghitung. Sehingga secara sederhana pengertian komputer adalah alat untuk menghitung aritmatika.</p>
        </div>
    </div>
</div>
{% endblock %}